
@media (max-width:1600px){
    main{
        width: 90%;
    }
    .filters-container{
        width:calc(90% - 80px)
    }
}


@media (max-width:900px) {
    header {
        background-image: url("../images/bg-header-mobile.svg");
        background-repeat: repeat-x;
        height:150px
    }

    .filters-container {
        width: calc(90% - 40px);
        height: auto;
        margin: 0 auto;
        padding:20px;
    }
    .filter-container{
        display: inline-block;
        margin: 0 5px;
    }

    main {
        display: block;
        width: 90%;
        height: auto;
        margin: 50px auto;
    }
    .component {
        display: block;
        width: calc(100% - 45px);
        height: auto;
        margin: 50px auto;
    }
    
    .logo-container {
        position: absolute;
        display: block;
        width: 50px;
        height: auto;
        top: 0;
        transform: translate(20px, -50%);
    }
    .info-left {
        display: block;
        padding: 20px 0 10px;
        border-style: solid;
        border-color: lightgrey;
        border-width: 0 0 1px 0;
    }
    .info-right {
        padding: 10px 0 0;
        display: block;
        text-align: left;
        margin: 15px 15px;
    }

    .attribution {
        font-size: 9px;
    }

}